<p-toast></p-toast>

<div style="max-width: 400px; margin: 80px auto;">
  <h2>Iniciar Sesión</h2>

  <form (ngSubmit)="login()">

    <div style="margin-bottom: 15px;">
      <label>Email</label><br />
      <input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        required
        style="width: 100%; padding: 8px;" />
    </div>

    <div style="margin-bottom: 20px;">
      <label>Contraseña</label><br />
      <input 
        type="password" 
        [(ngModel)]="password" 
        name="password" 
        required
        style="width: 100%; padding: 8px;" />
    </div>

    <button 
      pButton 
      type="submit" 
      label="Entrar" 
      severity="success"
      style="width: 100%;">
    </button>

  </form>
</div>