/* 🔥 Arregla inputs globales */
.login-card input {
  width: 100%;
}

/* 🔥 Controla el formulario */
.login-card form {
  max-width: 280px;
  margin: 0 auto;
}

/* 🔥 Corrige PrimeNG */
:host ::ng-deep .p-inputgroup {
  width: 100%;
  display: flex;
}

:host ::ng-deep .p-inputtext {
  flex: 1;
  border-radius: 10px;
}

/* 🔥 Ajusta el card */
.login-card {
  width: 340px;
}