<p-toast></p-toast>

<div style="max-width: 420px; margin: 60px auto;">

<h2>Registro</h2>

<form (ngSubmit)="register()">

<!-- USUARIO -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-user"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Usuario"
    [(ngModel)]="usuario"
    name="usuario"
    required>

</p-inputgroup>


<!-- EMAIL -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-envelope"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    type="email"
    placeholder="Email"
    [(ngModel)]="email"
    name="email"
    required>

</p-inputgroup>


<!-- PASSWORD -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-lock"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    type="password"
    placeholder="Contraseña"
    [(ngModel)]="password"
    name="password"
    required>

</p-inputgroup>


<!-- CONFIRM PASSWORD -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-check"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    type="password"
    placeholder="Confirmar contraseña"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
    required>

</p-inputgroup>


<!-- NOMBRE -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-id-card"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Nombre completo"
    [(ngModel)]="nombreCompleto"
    name="nombreCompleto"
    required>

</p-inputgroup>


<!-- DIRECCION -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-home"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Dirección"
    [(ngModel)]="direccion"
    name="direccion"
    required>

</p-inputgroup>


<!-- EDAD -->
<p-inputgroup class="mb-3">

  <p-inputgroup-addon>
    <i class="pi pi-calendar"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    type="number"
    placeholder="Edad"
    [(ngModel)]="edad"
    name="edad"
    required>

</p-inputgroup>


<!-- TELEFONO -->
<p-inputgroup class="mb-4">

  <p-inputgroup-addon>
    <i class="pi pi-phone"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Teléfono"
    [(ngModel)]="telefono"
    name="telefono"
    required>

</p-inputgroup>


<button
  pButton
  type="submit"
  label="Crear cuenta"
  severity="success"
  style="width:100%">

</button>

</form>
</div>