<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-card header="Navegación" styleClass="mb-4">
  <div class="card-content">
    <button
      pButton
      type="button"
      label="Regresar al Home"
      icon="pi pi-home"
      routerLink="/home"
      class="p-button-sm">
    </button>
  </div>
</p-card>

<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="start">
    <h2>Gestión de Grupos</h2>
  </ng-template>

  <ng-template pTemplate="end">
    <button
      pButton
      label="Nuevo"
      icon="pi pi-plus"
      *ifHasPermission="['group:add']"
      (click)="openNew()">
    </button>
  </ng-template>
</p-toolbar>

<p-table
  [value]="groups"
  responsiveLayout="scroll"
  styleClass="p-datatable-striped p-datatable-sm">

  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Nivel</th>
      <th>Autor</th>
      <th>Integrantes</th>
      <th>Tickets</th>
      <th style="width:120px">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-group>
    <tr>
      <td>{{ group.nombre }}</td>

      <td>
        <span class="p-tag p-tag-info">{{ group.nivel }}</span>
      </td>

      <td>{{ group.autor }}</td>
      <td>{{ group.integrantes }}</td>
      <td>{{ group.tickets }}</td>

      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-text"
          *ifHasPermission="['group:edit']"
          (click)="editGroup(group)">
        </button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-text p-button-danger"
          *ifHasPermission="['group:delete']"
          (click)="deleteGroup(group)">
        </button>
      </td>
    </tr>
  </ng-template>

</p-table>