<div class="p-fluid">

  <label>Nombre</label>
  <p-inputgroup class="mb-3">
  <p-inputgroup-addon>
    <i class="pi pi-users"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Nombre del usuario"
    [(ngModel)]="user.nombre" />
  </p-inputgroup>


  <label>Correo</label>
  <p-inputgroup class="mb-3">
  <p-inputgroup-addon>
    <i class="pi pi-envelope"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Correo del usuario"
    [(ngModel)]="user.correo" />
  </p-inputgroup>

    <label>Rol</label>
  <p-inputgroup class="mb-3">
  <p-inputgroup-addon>
    <i class="pi pi-key"></i>
  </p-inputgroup-addon>

  <input
    pInputText
    placeholder="Rol del usuario"
    [(ngModel)]="user.rol" />
  </p-inputgroup>




</div>

<div class="flex justify-content-end gap-2 mt-4">

  <button
    pButton
    label="Cancelar"
    class="p-button-text"
    (click)="cancel()">
  </button>

  <button
    pButton
    label="Guardar"
    (click)="save()">
  </button>

</div>