<p-card>
  <button 
  pButton
  type="button"
  label="Regresar al Home"
  icon="pi pi-home"
  routerLink="/home"
  class="mb-3">
</button>

</p-card>

<button 
pButton
type="button"
label="Crear Ticket"
icon="pi pi-plus"
routerLink="/tickets/create">
</button>

<div class="kanban-container" cdkDropListGroup>

<!-- PENDIENTE -->
<p-card header="Pendiente" class="kanban-column">

<div
cdkDropList
#pendienteList="cdkDropList"
[cdkDropListData]="pendientes"
[cdkDropListConnectedTo]="[enProgresoList, revisionList, finalizadoList]"
(cdkDropListDropped)="drop($event,'PENDIENTE')">

<div *ngFor="let t of pendientes" cdkDrag class="ticket-card">

<p-card>

<ng-template pTemplate="title">
<a [routerLink]="['/tickets', t.id]">
{{ t.titulo }}
</a>
</ng-template>

<ng-template pTemplate="content">
<p>{{ t.descripcion }}</p>

<p-tag value="Pendiente" severity="warn"></p-tag>

</ng-template>

</p-card>

</div>

</div>

</p-card>

<!-- EN PROGRESO -->
<p-card header="En progreso" class="kanban-column">

<div
cdkDropList
#enProgresoList="cdkDropList"
[cdkDropListData]="enProgreso"
[cdkDropListConnectedTo]="[pendienteList, revisionList, finalizadoList]"
(cdkDropListDropped)="drop($event,'EN_PROGRESO')">

<div *ngFor="let t of enProgreso" cdkDrag class="ticket-card">

<p-card>

<ng-template pTemplate="title">
{{ t.titulo }}
</ng-template>

<ng-template pTemplate="content">

<p>{{ t.descripcion }}</p>

<p-tag value="En progreso" severity="info"></p-tag>

</ng-template>

</p-card>

</div>

</div>

</p-card>

<!-- REVISION -->
<p-card header="Revisión" class="kanban-column">

<div
cdkDropList
#revisionList="cdkDropList"
[cdkDropListData]="revision"
[cdkDropListConnectedTo]="[pendienteList, enProgresoList, finalizadoList]"
(cdkDropListDropped)="drop($event,'REVISION')">

<div *ngFor="let t of revision" cdkDrag class="ticket-card">

<p-card>

<ng-template pTemplate="title">
{{ t.titulo }}
</ng-template>

<ng-template pTemplate="content">

<p>{{ t.descripcion }}</p>

<p-tag value="Revisión" severity="secondary"></p-tag>

</ng-template>

</p-card>

</div>

</div>

</p-card>

<!-- FINALIZADO -->
<p-card header="Finalizado" class="kanban-column">

<div
cdkDropList
#finalizadoList="cdkDropList"
[cdkDropListData]="finalizado"
[cdkDropListConnectedTo]="[pendienteList, enProgresoList, revisionList]"
(cdkDropListDropped)="drop($event,'FINALIZADO')">

<div *ngFor="let t of finalizado" cdkDrag class="ticket-card">

<p-card>

<ng-template pTemplate="title">
{{ t.titulo }}
</ng-template>

<ng-template pTemplate="content">

<p>{{ t.descripcion }}</p>

<p-tag value="Finalizado" severity="success"></p-tag>

</ng-template>

</p-card>

</div>

</div>

</p-card>

</div>