.layout{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:260px;
    height:100vh;
    background:#1f2937;
    color:white;
    display:flex;
    flex-direction:column;
    padding:20px;
}

/* HEADER */
.project-header{
    text-align:center;
    margin-bottom:25px;
}

.project-header h2{
    margin:0;
    font-weight:600;
}

.project-header small{
    color:#9ca3af;
}

/* GRUPO */
.group-info{
    background:#374151;
    padding:10px;
    border-radius:6px;
    margin-bottom:20px;
}

.group-label{
    font-size:12px;
    color:#9ca3af;
    display:block;
}

/* MENU */
:host ::ng-deep .p-panelmenu{
    background:transparent;
}

.logout-container {
  margin-top: 20px;
  padding: 10px;
}

/* FOOTER */
.sidebar-footer{
    margin-top:auto;
    text-align:center;
    color:#9ca3af;
}